/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --primary-color: #0E4BF1;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #f5d17f;
    --box3-color: #E7D1FC;
    --delete1-color: #0084ff;
    --delete2-color: #3cff00;
    --delete3-color: #ff0000;
    --profile-color: #F7F7F7F7;
    --title-icon-color: #fff;
    --table-scan-box-shadow-color1:  #bebebe;
    --table-scan-box-shadow-color2: #bebebe;
    --table-even-row-color:#ffffff;
    --table-odd-row-color:#bebebe;
    --table-background:#f3f0f5;
    --previous-btn-color:#;

    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

body{
    min-height: 100vh;
    background-color: var(--primary-color);
}
body.dark{
    --primary-color: #0E4BF1;
    --panel-color: #26292B;
    --text-color: #fff;
    --black-light-color: #CCC;
    --border-color: #4D4C4C;
    --toggle-color: #FFF;
    --box1-color: #5F7ADB;
    --box2-color: #ecc568;
    --box3-color: #d0b5e9;
    --delete1-color: #FFF;
    --delete2-color: #FFF;
    --delete3-color: #FFF;
    --profile-color: #2E3239;
    --title-icon-color: #FFF;
    --table-scan-box-shadow-color1: rgb(25,25,25);
    --table-scan-box-shadow-color2: rgb(60,60,60);
    --table-even-row-color:#2E3239;
    --table-odd-row-color:#2E3239;
    --table-background:#26292B;
    --previous-btn-color:#3A3B3C;

}
/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #0b3cc1;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover{
    background: #3A3B3C;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 2px solid var(--border-color);
    transition: var(--tran-05);
    
    
}
nav.close{
    width: 73px;
}
nav .logo-name{
    display: flex;
    align-items: center;
}
nav .logo-image{
    display: flex;
    justify-content: center;
    min-width: 50px;
}
nav .logo-image img{
    width: 50px;
    object-fit: cover; aspect-ratio: 1/1;
    border-radius: 50%;
}

nav .logo-name .logo_name{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
    transition: var(--tran-05);
}
nav.close .logo_name{
    opacity: 0;
    pointer-events: none;
}
nav .menu-items{
    margin-top: 20px;
    margin-left:-30px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-items li{
    list-style: none;
}
.menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}
.nav-links li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
body.dark li a:hover:before{
    background-color: var(--text-color);
}
.menu-items li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}
.menu-items li a .link-name{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);
    transition: var(--tran-05);
}
nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
}
.nav-links li a:hover i,
.nav-links li a:hover .link-name{
    color: var(--primary-color);
}
body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name{
    color: var(--text-color);
}
.menu-items .logout-mode{
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}
.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.menu-items .mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}
.switch:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}
body.dark .switch:before{
    left: 20px;
}

.dashboard{
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}
nav.close ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top{
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 10;
}
nav.close ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top .sidebar-toggle{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}
.dashboard .top .search-box{
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}
.top .search-box input{
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: none;
}
.top .search-box i{
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color);
}
.top img{
    width: 40px;
    border-radius: 50%;
    object-fit: cover; aspect-ratio: 1/1;
}
.dashboard .dash-content{
    padding-top: 50px;
}
.dash-content .title{
    display: flex;
    align-items: center;
    margin: 20px 0 30px 0;
}
.dash-content .title i{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.dash-content .title .text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}
.dash-content .boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dash-content .boxes .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    width: calc(100% / 3 - 15px);
    padding: 15px 20px;
    background-color: var(--box1-color);
    transition: var(--tran-05);
    box-shadow: 15px 15px 30px var(--table-scan-box-shadow-color1),
    -15px -15px 30px var(--table-scan-box-shadow-color2);
}
.boxes .box i{
    font-size: 50px;
    color: var(--text-color);
}
.boxes .box .text{
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: var(--text-color);
}
.boxes .box .number{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color: var(--text-color);
}
.boxes .box.box2{
    background-color: var(--box2-color);
}
.boxes .box.box3{
    background-color: var(--box3-color);
}
.dash-content .activity .activity-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.activity .activity-data{
    display: flex;
}
.activity-data .data{
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}
.activity-data .data-title{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
}
.activity-data .data .data-list{
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    white-space: nowrap;
    color: var(--text-color);
}

@media (max-width: 1000px) {
    nav{
        width: 73px;
    }
    nav.close{
        width: 250px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 1;
        pointer-events: auto;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name{
        opacity: 1;
        pointer-events: auto;
    }
    nav ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard{
        left: 250px;
        width: calc(100% - 250px);
    }
    nav ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard .top{
        left: 250px;
        width: calc(100% - 250px);
    }
    .activity .activity-data{
        overflow-X: scroll;
    }
}

@media (max-width: 780px) {
    .dash-content .boxes .box{
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }
}
@media (max-width: 560px) {
    .dash-content .boxes .box{
        width: 100% ;
    }
}
@media (max-width: 400px) {
    nav{
        width: 0px;
    }
    nav.close{
        width: 73px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav ~ .dashboard{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
}



/* .bd-example-modal-lg .modal-dialog{
    display: table;
    position: relative;
    margin: 0 auto;
    left: -2%;
    top: calc(40% - 24px);
  }

  .bd-example-modal-lg .modal-dialog .modal-content{
    background-color: transparent;
    border: none;
  } */
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    z-index: 9999;
    display: none; /* hide by default */
  }
 

  .svg-frame {
    position: relative;
    width: 700px;
    height: 300px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20%;
    margin: auto;
  }
  
  .svg-frame svg {
    position: absolute;
    transition: .5s;
    z-index: calc(1 - (0.2 * var(--j)));
    transform-origin: center;
    width: 344px;
    height: 344px;
    fill: none;
  }
  
  .svg-frame:hover svg {
    transform: rotate(-80deg) skew(30deg) translateX(calc(45px * var(--i))) translateY(calc(-35px * var(--i)));
  }
  
  .svg-frame svg #center {
    transition: .5s;
    transform-origin: center;
  }
  
  .svg-frame:hover svg #center {
    transform: rotate(-30deg) translateX(45px) translateY(-3px);
  }
  
  #out2 {
    animation: rotate16 7s ease-in-out infinite alternate;
    transform-origin: center;
  }
  
  #out3 {
    animation: rotate16 3s ease-in-out infinite alternate;
    transform-origin: center;
    stroke: #ff0;
  }
  
  #inner3,
  #inner1 {
    animation: rotate16 4s ease-in-out infinite alternate;
    transform-origin: center;
  }
  
  #center1 {
    fill: #ff0;
    animation: rotate16 2s ease-in-out infinite alternate;
    transform-origin: center;
  }
  
  @keyframes rotate16 {
    to {
      transform: rotate(360deg);
    }
  }

.loader-message{
    position: absolute;
    color: rgb(250, 250, 250);
    margin-top:60%;
    font-size: xx-large;
    font-weight: bold;
} 



p {
    background-color: #0D6EFD;
    color:#fff;
    padding: 2px;
}
.form-label {
    color:#000;
}
.form-label1 {
    color: var(--text-color);

}
.btn-primary {
    background-color: #007BFF;
    color: var(--text-color);
}



/* Dark mode scan table style */
.dark-mode{
    box-shadow: 15px 15px 30px var(--table-scan-box-shadow-color1),
    -15px -15px 30px var(--table-scan-box-shadow-color2);
    color: var(--text-color);

}
.dark-mode table {
    color: var(--text-color);
    margin-top: 2%;
    border-radius: 25px;
    
}
.dark-mode table th,
.dark-mode table td {

    background-color:var(--panel-color);
    color:  var(--text-color);
}

.dark-mode table th {
    text-align: left;
    background-color: var(--panel-color);
    padding: 1rem;
}

.dark-mode table td {
    padding: 1rem;
}

.dark-mode .table-striped tbody tr:nth-of-type(odd) {
    background-color: var(--panel-color);
    -webkit-text-fill-color: var(--text-color);
}

.dark-mode .table-striped tbody tr:nth-of-type(even) {
    background-color: var(--panel-color);
}

.dark-mode table tbody tr:hover {
    background-color: var(--panel-color);
}

.dark-mode table td:first-child {
    font-weight: bold;
}


/* profile menu */
.menu {
    position: fixed;
    top: 120px;
    right: 1%;
    padding: 10px 20px;
    background: var(--profile-color);
    width: 20%;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    
  }
  
.menu.active {
    top: 80px;
    visibility: visible;
    opacity: 1;
  }
  
.menu::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 20px;
    width: 20px;
    height: 20px;
    background: var(--profile-color);
    transform: rotate(45deg);
  }
  
.menu h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    color: var(--text-color);
    line-height: 1.5em;
  }
  
.menu h3 span {
    font-size:11px;
    color: var(--black-light-color);
    font-weight: 300;
  }
  
.menu ul li {
    list-style: none;
    padding: 16px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
  }
  
.menu ul li i {
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}
.menu ul li:hover i {
    color: #ff5d94;
  }
.menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: var(--black-light-color);
    font-weight: 500;
    transition: 0.5s;
  }

.menu ul li:hover a {
    color: #ff5d94;
  }
  
  /* Dark mode index table style */

.activity .activity-data{
    background-color: var(--table-background);
    color: var(--text-color);
    padding: 15px;
    
    box-shadow: 15px 15px 30px var(--table-scan-box-shadow-color1),
    -15px -15px 30px var(--table-scan-box-shadow-color2);
    border-radius: 10px;
  }
.activity .activity-data .container{
    background-color: var(--table-background);
    color: var(--text-color);
    height: 100%;
    padding: 3%;
}

.activity .activity-data .container .table {
    background-color: var(--table-even-row-color);
    color: var(--text-color);
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: var(--table-odd-row-color);
    /* -webkit-text-fill-color: var(--text-color); */

}
.table-striped tbody tr td:nth-of-type(odd) {
    color: var(--text-color);
}
.table-striped tbody tr td:nth-of-type(even) {
    color: var(--text-color);
}
.dataTables_length label {
    color: var(--text-color);
}

/* .dataTables_length select {
    background-color:var(--table-even-row-color);
    color: var(--text-color);
}

.dataTables_filter label {
    color:var(--text-color);
} */

/* .dataTables_filter input[type="search"] {
    background-color:var(--table-even-row-color);
    color: var(--text-color);
}


.dataTables_paginate .paginate .paginate_button a{
    color: #fff;
    background-color: #343a40;
} */

/*.activity .activity-data .pagination > .page-item > a {
background-color: var(--box1-color);
border-color: var(--black-light-color);
color:#fff;
}
 
.dash-content form{
    background-color: var(--table-odd-row-color);
    color: var(--text-color);
    padding: 10%;
    box-shadow: 15px 15px 30px var(--table-scan-box-shadow-color1),
    -15px -15px 30px var(--table-scan-box-shadow-color2);
    border-radius: 20px;
} */

/* profile image uploading */

.container {
    max-width: 110px;
  }

  .avatar-upload {
    position: relative;
    max-width: 150px;
    margin: 10px auto;
  }
 
.profile-pic {
    width: 200px;
    max-height: 200px;
    object-fit: cover; aspect-ratio: 1/1;
}

.file-upload {
    display: none;
}
.circle {
    border-radius: 100% !important;
    overflow: hidden;
    width: 128px;
    height: 128px;
    border: 2px solid rgba(255, 255, 255, 0.2);
}
img {
    max-width: 100%;
    height: auto;
}
.p-image {
  position: absolute;
  top: 75px;
  right: 35px;
  color: #999;;
  background-color: #f1f1f1;
  padding: 2.5%;
  border-radius: 50%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}



/* validation */

.input-section {
	margin: 0.5em 0;
  }
  .error-message {
	
	font-size: 14px;
	
  }
  .required-color {
	color: #ff4747;
  }
  .error {
	border-color: #ff4747;
  }
  .valid {
	border-color: #37a137;
  }
  .hide {
	display: none;
  }
  

/*  */

.wrapper{
    position: relative;
    width: 100%;
    background-color: #f9f9f9;
    padding: 2px 15px -4px 15px;
    border-radius: 10px;
    place-items: center;
}
.container{
    position: relative;
    width: 100%;
    height: 100px;
    margin-top: -5px;
}
input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 95%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}
.slider-track  {
    width: 95%;
    height: 10px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}
input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;
}
input[type="range"]::-moz-range-track{
    -moz-appearance: none;
    height: 5px;
}
input[type="range"]::-ms-track{
    appearance: none;
    height: 5px;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: #3264fe;
    cursor: pointer;
    margin-top: -9px;
    pointer-events: auto;
    border-radius: 50%;
}
input[type="range"]::-moz-range-thumb{
   /* -webkit-appearance: none; */
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #3264fe;
    pointer-events: auto;
}
input[type="range"]::-ms-thumb{
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #3264fe;
    pointer-events: auto;
}
input[type="range"]:active::-webkit-slider-thumb{
    background-color: #ffffff;
    border: 3px solid #3264fe;
}
.values{
    background-color: #3264fe;
    width: 40%;
    position: relative;
    margin: auto;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    color: #ffffff;
}
.values:before{
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-top: 15px solid #3264fe;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    margin: auto;
    bottom: -14px;
    left: 0;
    right: 0;
}

.Aslider-track{
    width: 100%;
    height: 5px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}


.Eslider-track{
    width: 100%;
    height: 5px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}


.modal-body .separator {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: #8B8E98;
  }
  
 .modal-body .separator .line {
    display: block;
    width: 100%;
    height: 1px;
    border: 2;
    background-color: #8B8E98;
  }
  


/* for donet chart */
.card {
    padding: 5px;
    box-sizing: border-box;
    width:350px;
    height: 100%;
    background: rgba(255, 255, 255);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    border-radius: 5%;
    /* text-align: center; */
    cursor: pointer;
    transition: all 0.5s;
    /* display: flex; */
    align-items: center;
    /* justify-content: center; */
    /* user-select: none;s */
    font-weight: bolder;
    color: black;

  }
  
  .card:hover {
    border: 2px solid #3366CC;
    transform: scale(1.05);
  }
  
  .card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }
  #donutChart {
    font-size: 14px;
    font-weight: bold;
    color: #ca2929;
    text-align: center;
}